*
{
margin:0;
padding:0;
box-sizing: border-box;
}
.navbar-brand
{
    color: rgb(234, 114, 22);
    font-size: 30px;

}
.nav-link
{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.nav-link:hover
{
    background-color: orange;
}
.text
{
    color:white;
    margin-top: 40px;
}

.carousel-item img
{
    height: 800px;
    width:800px;
}
.facility_item .facility_icon {
    position: relative;
     margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility_item .facility_text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.bg-primary
{
    background-color: red;
} */

.btn
{
    margin-top: 50px;
}
.text3
{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.text-img
{
    color:blue;
}

.footer
{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}

.carousel-item active
{
    height: 60px;
}

@media screen (max-width:768px) {
    .d-block{
        width: 100%;
    }
}